<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mole.androidcodestudy">

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <!-- 粗略的位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:name="com.mole.androidcodestudy.CustomApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AndroidCodeStudy"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.mole.androidcodestudy.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="custom_action_intent" />
                <!--一个intent-filter除了action之外，还需要category，特别是当它不是LAUNCHER的时候。比如，如果Intent包含CATEGORY_DEFAULT，那么Activity的intent-filter必须也包含这个category。否则，系统可能无法匹配到。-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.mole.androidcodestudy.activity.ConfigurationChangeTestActivity" />
        <activity android:name="com.mole.androidcodestudy.activity.CustomViewTestActivity" />
        <activity android:name=".activity.RxJavaActivity" />
        <activity android:name=".activity.PickMediaActivity" />
        <activity android:name=".activity.KotlinDelegateActivity" />
        <activity android:name=".activity.LocationActivity" />
        <activity android:name=".activity.NestedCoordinatorActivity" />
        <activity android:name=".activity.AnimationActivity" />
        <activity android:name=".activity.SoftInputActivity" />
        <activity android:name=".activity.FileActivity" />
        <activity android:name=".activity.TextViewActivity" />
        <activity android:name=".activity.CoroutineActivity" />
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name=".activity.AlarmActivity" />
        <activity android:name=".activity.LiveDataActivity" />
        <activity android:name=".activity.MaterialButtonActivity" />
        <activity android:name=".activity.ViewModelActivity" />
        <activity android:name=".activity.CustomLayoutManagerActivity" />
        <activity android:name=".activity.library.LombokActivity" />
        <activity
            android:name="com.yc.catonhelperlib.canary.ui.DisplayActivity"
            android:exported="true" />
        <activity android:name=".activity.library.PaletteActivity" />
        <activity android:name=".widget.activity.CoordinatorLayoutActivity" />
        <activity android:name=".widget.activity.MotionLayoutActivity" />
        <activity android:name=".library.activity.UEToolActivity" />
        <activity
            android:name=".activity.system.BatteryActivity"
            android:exported="false" />
        <activity android:name=".activity.ConstraintLayoutActivity" />
        <activity android:name=".widget.activity.BreakIteratorActivity" />
        <activity android:name=".widget.activity.ForegroundImageViewActivity" />
        <activity android:name=".library.activity.SqlcipherActivity" />
        <activity android:name=".activity.system.ImplicitIntentActivity" />
        <activity
            android:name=".activity.SchemeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="custom"
                    android:host="com.mole.androidcodestudy"
                    android:port="8888"
                    android:pathPattern="/.*" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.library.ExoplayerActivity" />

        <service
            android:name="com.mole.androidcodestudy.service.CustomJobService"
            android:label="custom service"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver
            android:name=".receiver.AlarmBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mole.androidcodestudy.alarm_action" />
            </intent-filter>
        </receiver>
    </application>

</manifest>